.certificate-container {
  border: 10px solid #24C4D4;
  max-width: 695px;
  width: 95vw;
  min-width: 300px;
  padding: 40px 40px 30px;
  position: relative;
  margin: auto;
}

.styled-div {
  background-color: #24C4D4;
  width: 80px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 30px;
  clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styled-div>img {
  width: 74%;
  margin-top: 10px;
}

.main-content {
  text-align: center;
  width: 80%;
  margin: auto;
}

.main-heading {
  color: #24C4D4;
  font-size: 24px;
  margin-bottom: 40px;
}

.main-heading>span {
  display: block;
  font-size: 48px;
  font-weight: 500;
}

.certificate-text {
  color: gold;
  font-size: 24px;
}

.certificate-text>.name {
  color: #24C4D4;
  display: block;
  font-size: 64px;
  width: unset;
  border-bottom: 1px solid gold;
  margin: 0 auto 10px;
  width: fit-content;
  padding: 0 20px;
}

.certificate-text>span {
  font-weight: 500;
}

.certificate-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e4e4e;
  font-size: 20px;
  width: 90%;
  margin: 50px auto 0;
}

.issuer {
  margin: 0;
  font-weight: 500;
}

.issuer-designation {
  margin: 0;
}

.certificate-uuid {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: -20px;
}